<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_sUyUF2qeyk1RmJf-jnO3WmG385l9DEo</string>
	<key>GCM_SENDER_ID</key>
	<string>432419785410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lecture11.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lecture11-cb1a1</string>
	<key>STORAGE_BUCKET</key>
	<string>lecture11-cb1a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432419785410:ios:38bec7068bf92e1d45c95b</string>
	<key>DATABASE_URL</key>
	<string>https://lecture11-cb1a1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>